* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  display: none;
}

.navbar.active li {
  display: block;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: flex;
    gap: 50px;
  }
  .navbar li.active {
    display: block;
  }
}

button img {
  width: 20px;
  height: 20px;
}
